<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>

        <add key="cardShortSideInInches" value="2.5" />

        <add key="cardLongSideInInches" value="3.5" />

        <!-- This is (1.0f / 8.0f) -->
        <add key="bleedSizeInInches" value=".125" />

        <!-- This is (1.0f / 16.0f) -->
        <add key="borderPaddingInInches" value=".0625" />

        <!-- Accepted values: Page or SingleImage -->
        <add key="saveConfiguration" value="SingleImage"/>

    </appSettings>
</configuration>
